/* For small screens, phone up to 600px */
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    color: white;
  }

  /* NavBar Section */

  .navbar-brand {
    color: orangered;
    font-size: 60px;
    font-weight: 500;
    padding-left: 10px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 500;
    font-style: normal;
  }

  .nav-link {
    margin-left: 10px;
    font-size: 19.5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-toggler {
    border: 1px solid orangered;
    outline: none;
  }
  .navbar-nav {
    margin-left: 20px;
  }

  .searchBar {
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* Carousel Section */
  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.8);
  }

  .carousel-section {
    background-color: rgb(42, 31, 31);
    padding-left: 0px;
    padding-right: 0px;
  }
  .carousel-caption {
    position: absolute;
    left: 40px;
    top: 30px;
    width: 100vw;
    text-align: start;
    color: white;
  }
  .carousel-heading {
    font-size: 40px;
    text-align: start;
  }
  .carousel-description {
    font-size: 27px;
    text-align: start;
    width: 80%;
    line-height: 38.7px;
    margin-top: 15px;
  }

  /* Offer Styles */
  .offer-img {
    width: 100%;
    height: 400px;
    /* border-radius: 14px; */
  }

  .explore-locals {
    margin-top: 15px;
  }

  /* Our kitchen styles */
  .navigation-padding {
    padding-left: 5px;
  }

  .our-kitchen-nav-h {
    font-size: 30px;
    color: orangered;
  }

  .slide-arr-btn-parent {
    margin-left: 0px;
  }

  .kitchen-padding {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
  }
  .img-padding {
    margin-top: 55px;
    padding-left: 0px;
  }

  /* Footer styles */
  .footer-brand {
    color: orangered;
    font-size: 80px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-bottom-space {
    margin-bottom: 30px;
  }

  .border-right {
    border-right: 0px solid green;
    padding-right: 0px;
  }

  .border-left {
    padding-left: 0px;
    margin-top: 40px;
  }

  .section-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .section-margin {
    margin-top: 120px;
  }

  .gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.8);
  }

  .gallery-brand {
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    color: orangered;
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
  }

  .gallery-caption {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100vw;
    text-align: center;
    /* color: white; */
  }

  .monument-margin {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
