.list-item {
  display: inline;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 26px;
  text-align: center;
  margin-top: 15px;
}

.list-item button {
  border: none;
  background-color: rgb(42, 31, 31);
  color: white;
}

.service-active {
  border-bottom: 3px solid orangered;
}

.service-heading {
  font-size: 50px;
  color: white;
}

.foodtype-heading {
  margin-top: 30px;
  font-weight: 400;
}

.foodtype-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}

.fast-foods {
  background-color: orangered;
  color: white;
  /* border-radius: 16px; */
  height: 640px;
}

.food-details {
  padding: 29px;
}

/* Locals styles */

.locals-padding {
  margin-top: 110px;
}

.explore-locals {
  margin-top: 15px;
}

.locals-section-bg-color {
  background-color: black;
  color: white;
  padding: 50px;
  padding-top: 50px;
}

.locals-heading {
  font-size: 68px;
  font-weight: 500;
  /* width: 500px; */
  color: white;
}

.locals-p {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
}

.order-btn {
  width: 150px;
}

.drinks-section-bg-color {
  background-color: orangered;
  padding: 50px;
  padding: 20px;
  padding-top: 10px;
  padding: 50px;
  padding-top: 50px;
}

.drinks-order-btn {
  background-color: black;
  color: white;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  outline: none;
  font-size: 19.8px;
  margin-top: 45px;
  text-decoration: none;
  /* width: 120px; */
}

/* Our kitchen styles */

.navigation-padding {
  padding-left: 50px;
}

.our-kitchen-nav-h {
  font-size: 40px;
  margin-top: 20px;
  color: orangered;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.slide-arr-btn-parent {
  margin-left: 400px;
}

.slide-arr {
  width: 60px;
  height: 60px;
  font-size: 40px;
  border: 2px solid white;
  outline: none;
  background-color: orangered;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 500;
  line-height: 1;
  margin-left: 10px;
}

.kitchen-padding {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.ourkitchenheading {
  font-size: 35px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}

.ourkitchen-p {
  font-size: 30px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}

.img-padding {
  padding-left: 300px;
}

/* Carousel Styles */
.carousel-item {
  height: 80vh;
}

.carousel-caption-heading {
  font-size: 30px;
  font-weight: 570;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-caption-p {
  font-size: 20px;
  font-weight: 500;
}

.carousel-caption-link {
  padding: 15px;
  font-size: 19px;
  width: 190px;
  font-weight: 500;
}

.carousel-caption {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 50vh;
  }

  .carousel-inner {
    height: 50vh;
  }

  .carousel-img {
    height: 50vh;
  }

  .carousel-caption {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }

  .carousel-caption-heading {
    font-size: 30px;
    font-weight: 570;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .carousel-caption-p {
    font-size: 20px;
    font-weight: 500;
  }

  .carousel-caption-link {
    padding: 15px;
    font-size: 19px;
    width: 190px;
    font-weight: 500;
  }
}
